{% extends 'base.html' %}

{% block content %}


{% if messages %}
      {% for message in messages %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
          {{ message }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      {% endfor %}
    {% endif %}

  <div class="container mt-4">
    <h2>Mon Historique de Participations</h2>

    {% if participations %}
      <ul class="list-group">
        {% for participation in participations %}
          <li class="list-group-item">
            <strong>Événement :</strong> {{ participation.name_event }} <br>
            <strong>Date d'inscription :</strong> {{ participation.date_inscription|date:"d/m/Y H:i" }} <br>

            <!-- Bouton pour annuler -->
            <a href="{% url 'cancel_participation' participation.id %}" class="btn btn-danger btn-sm mt-2"
            onclick="return confirm('Es-tu sûr de vouloir annuler cette participation ?');">
            Annuler la participation </a>

          </li>
        {% endfor %}
      </ul>
    {% else %}
      <p>Vous n'avez pas encore participé à un événement.</p>
    {% endif %}
  </div>
{% endblock %}

 
