{% extends 'base.html' %} {% block content %}
<h2>Événements</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Nom</th>
      <th>Organisateur</th>
      <th>Date</th>
      <th>Categorie</th>
      <th>Lieu</th>
      <th>Actions</th>


    </tr>
  </thead>
  <tbody>
    {% for evenement in evenements %}
    <tr>
      <td>{{ evenement.id }}</td>
      <td>{{ evenement.nom_event }}</td>
      <td>{{ evenement.organisateur_name}}</td>
      <td>{{ evenement.date }}</td>
      <td>{{ evenement.categorie}}</td>
      <td>{{ evenement.lieu }}</td>
      <td>
        <a
          href="{% url 'event_update' evenement.id %}"
          class="btn btn-warning btn-sm"
          >Edit</a
        >
        <a
          href="{% url 'event_delete' evenement.id %}"
          class="btn btn-danger btn-sm"
          >Delete</a
        >
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock content %}
