{% extends 'base.html' %}

{% block content %}
<h2>Participations</h2>
<a href="{% url 'participation_create' %}" class="btn btn-primary mb-3">Ajouter une Participation</a>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Utilisateur</th>
      <th>phone_number</th>
      <th>Événement</th>
      <th>Date de participation</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for participation in participations %}
    <tr>
      <td>{{ participation.id }}</td>
      <td>{{ participation.participant }}</td>
      <td>{{ participation.phone_num }}</td>
      <td>{{ participation.name_event }}</td>
      <td>{{ participation.date_inscription }}</td>
      <td>
        <a href="{% url 'participation_update' participation.id %}" class="btn btn-warning btn-sm">Modifier</a>
        <a href="{% url 'participation_delete' participation.id %}" 
           class="btn btn-danger btn-sm"
           onclick="return confirm('Êtes-vous sûr de vouloir supprimer cette participation ?');">
           Supprimer
        </a>
      </td>
    </tr>
    {% empty %}
    <tr>
      <td colspan="5" class="text-center">Aucune participation trouvée.</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}