{% extends 'base.html' %} {% block content %}
<h1>Participation List</h1>
<a href="{% url 'participation_create' %}" class="btn btn-primary mb-3"
  >Ajouter un Participant</a
>
<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>User</th>
      <th>Event</th>
      <th>Date</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for participation in participations %}
    <tr>
      <td>{{ participation.id }}</td>
      <td>{{ participation.participan.username }}</td>
      <td>{{ participation.event.nom_event }}</td>
      <td>{{ participation.date_inscription }}</td>
      <td>
        <a
          href="{% url 'participation_update' participation.id %}"
          class="btn btn-warning btn-sm"
          >Modifier</a
        >
        <a
          href="{% url 'participation_delete' participation.id %}"
          class="btn btn-danger btn-sm"
          >Delete</a
        >
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
